<!DOCTYPE html>
<html lang="en">
  <!-- TODO: either stay without a title or think about title -->
<!-- <head> -->
<!--     <meta charset="UTF-8"> -->
<!--     <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<!--     <title>My Blog</title> -->
<!-- </head> -->
<body>
    <!-- <h1>My Blog</h1> -->
    <ul>
    {% for post in posts %}
        <li>
            <a href="{{ post.filename }}">{{ post.title }}</a>
            <span>({{ post.date.strftime('%Y-%m-%d') }})</span>
        </li>
    {% endfor %}
    </ul>
</body>
</html>
