<!DOCTYPE html>
<html lang="en">
  <!-- TODO: either stay without a title or think about title -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>My Blog</title> -->
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <!-- <h1>My Blog</h1> -->
    <ul>
    {% for post in posts %}
        <article>
            <h2><a href="{{ post.filename }}">{{ post.title }}</a></h2>
            <time datetime="{{ post.date.isoformat() }}">{{ post.date.strftime('%B %d, %Y') }}</time>
            <div class="preview">
                {{ post.preview | safe }}
            </div>
            <a href="{{ post.filename }}">Read more...</a>
        </article>
    {% endfor %}
    </ul>
</body>
</html>
